<!-- web/templates/plan_only.html -->
<h2>План тренировок</h2>
{% if plan %}
<div>
    {% for item in plan %}
    <div class="recommendation-item {{ item.type }}">
        <p><strong>{{ item.name }}</strong> ({{ item.repeats }} раз)</p>
        <p><em>Качает навыки:</em>
            {% if item.skills %}
            {% for skill in item.skills %}
            <span class="{% if skill in white_skills %}white-skill-in-plan{% else %}gray-skill-in-plan{% endif %}">
                {{ skill_names[skill] }}
            </span>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% else %}
            Нет указанных навыков
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Нет подходящих тренировок для балансировки навыков.</p>
{% endif %}